.spreadSheet {
    margin: 30px;
    justify-content: center;
    h2 {
        color: #e8315e;
        margin-bottom: 2.5rem !important;
    }
    .spread-box {
        border: 1px solid #0000ff61;
        border-radius: 60px;
        .spread-table {
            padding: 20px 50px;
            .header {
                margin: 10px 0px;
                justify-content: space-between;
            }
            .flex-end {
                justify-content: flex-end;
                .btn-info {
                    margin-right: 10px;
                }
            }
            .fa{
                padding: 0px 8px;
                font-size: larger;
                cursor: pointer;
            }
            .trash-red{
                color: red;
            }
        }
    }
}